
@{
    ViewBag.Title = "XML Test";
}

<h2>XML Test</h2>
<h4>B2B 交換 相關</h4>
<ul>
    <li>
        @Html.ActionLink("A0101", "TestA0101") - 開立發票訊息規格
    </li>
    <li>
        @Html.ActionLink("A0102", "TestA0102") - 發票接收確認訊息規格
    </li>
    <li>
        @Html.ActionLink("B0101", "TestB0101") - 開立折讓證明單訊息規格
    </li>
    <li>
        @Html.ActionLink("B0102", "TestB0102") - 開立折讓證明/通知單接收確認訊息規格
    </li>
    <li>
        @Html.ActionLink("A0201", "TestA0201") - 作廢發票訊息規格
    </li>
    <li>
        @Html.ActionLink("A0202", "TestA0202") - 作廢發票接收確認訊息規格
    </li>
    <li>
        @Html.ActionLink("B0201", "TestB0201") - 作廢折讓證明單訊息規格
    </li>
    <li>
        @Html.ActionLink("B0202", "TestB0202") - 作廢折讓證明單接收確認訊息規格
    </li>
    <li>
        @Html.ActionLink("A0301", "TestA0301") - 退回(拒收)發票訊息規格
    </li>
    <li>
        @Html.ActionLink("A0302", "TestA0302") - 退回(拒收)發票接收確認訊息規格
    </li>
</ul>
<h4>B2B 相關</h4>
<ul>
    <li>
        @Html.ActionLink("A0401", "TestA0401") - 平台存證開立發票訊息規格
    </li>
    <li>
        @Html.ActionLink("B0401", "TestB0401") - 平台存證開立折讓證明/通知單訊息規格
    </li>
    <li>
        @Html.ActionLink("A0501", "TestA0501") - 平台存證作廢發票訊息規格
    </li>
    <li>
        @Html.ActionLink("B0501", "TestB0501") - 平台存證作廢折讓證明單訊息規格
    </li>
    <li>
        @Html.ActionLink("A0601", "TestA0601") - 平台存證退回(拒收)發票訊息規格
    </li>
</ul>
<h4>B2C 相關</h4>
<ul>
    <li>
        @Html.ActionLink("C0401", "TestC0401") - 平台存證開立發票訊息規格
    </li>
    <li>
        @Html.ActionLink("C0501", "TestC0501") - 平台存證作廢發票訊息規格
    </li>
    <li>
        @Html.ActionLink("C0701", "TestC0701") - 註銷發票訊息存證規格
    </li>
    <li>
        @Html.ActionLink("D0401", "TestD0401") - 平台存證開立折讓證明單/傳送折讓證明單通知
    </li>
    <li>
        @Html.ActionLink("D0501", "TestD0501") - 平台存證作廢折讓證明單訊息規格
    </li>
</ul>

<h4>B2P 相關</h4>
<ul>
    <li>
        @Html.ActionLink("E0401", "TestE0401") - 分支機構配號檔
    </li>
    <li>
        @Html.ActionLink("E0402", "TestE0402") - 空白未使用字軌檔
    </li>
</ul>